node_modules/
.expo/
.expo-shared/assets.json
.expo-shared/*
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

*.lock
.idea/
package-lock.json
yarn-error.log

